<div class="be-wrapper be-login">
  <div class="be-content">
    <div class="main-content container-fluid">
      <div class="splash-container">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
          <div class="panel-heading"><img src="http://54.179.172.199/assets/img/img-logo-tagline.png" alt="logo" width="150" class="logo-img"><span
              class="splash-description">CoInnov8 Coworking Space Management</span></div>
          <div class="panel-body">
            <form action="index.html" method="get">
              <div class="form-group">
                <input id="email" name="email"  type="email" [(ngModel)]="email" placeholder="Email" autocomplete="off" class="form-control">
              </div>
              <div class="form-group">
                <input id="password" name="password" [(ngModel)]="password" type="password" placeholder="Password" class="form-control">
              </div>
              <div class="form-group row login-tools">
                <div class="col-xs-6 login-remember">
                  <div class="be-checkbox">
                    <input type="checkbox" id="remember">
                    <label for="remember">Remember Me</label>
                  </div>
                </div>
              </div>
              <div class="form-group login-submit">
                <button (click)="login()" data-dismiss="modal" type="submit" class="btn btn-primary btn-xl">Sign me in</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>