.invisible{
	height:0px;
	width:0px;
	color:transparent;
	background: transparent;
	display:none;
} 
.dataTables_length, .dataTables_filter{
	display:none !important;
}
.be-wrapper {
	padding-top: 80px;
}
.logo {
	padding: 20px;
}
.be-top-header .navbar-header {
	margin-left: 140px;
}
.table > tbody > tr > td {
	font-weight: 400;
	vertical-align: top;
}