<div class="be-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top be-top-header">
    <div class="container-fluid">
      <div class="navbar-header logo"><img width="100" src="http://54.179.172.199/assets/img/img-logo-tagline.png"></div>


      <div class="be-right-navbar">
        <ul class="nav navbar-nav navbar-right be-user-nav">
          <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Cyberview <img src="assets/img/avatar.png" alt="Avatar"></a>
            <ul role="menu" class="dropdown-menu">
              <li (click)="logout()"><a (click)="logout()"><span class="icon mdi mdi-power"></span> Logout</a></li>
            </ul>
          </li>
        </ul>

      </div>


    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">New Bookings

          </div>
          <div class="panel-body">
            <table id="table1" class="table table-striped table-hover table-fw-widget">
              <thead>
                <tr>
                  <th width="20%">Applicants</th>
                  <th width="20%">Company</th>
                  <th width="20%">Categories</th>
                  <th width="25%">MSC Status</th>
                  <th width="20%">Space Types</th>
                  <th width="20%">Documents</th>
                  <th width="15%">Date</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let row of dataList ; let last = $last" class="odd gradeX">

                  <td>

                    <span *ngIf=" $index == $dataListLength" class="invisible"> {{  initTablePlugin( true) ||  ''}}</span>
                    <!--{{initTablePlugin( true)}}-->
                    <strong>Full Name</strong> : <span>{{ row.company.contact.personName}}</span> <br>
                    <strong>Phone</strong> : <span>{{ row.company.contact.phone}}</span> <br>
                    <strong>Date</strong> : <span>{{ row.company.date}}</span> <br></td>
                  <td><strong>Company name</strong> : {{ row.company.name}} <br>
                    <strong>GST Registration No.</strong> : {{ row.company.name}} <br>
                    <strong>Year Establish</strong> : {{ row.company.establishYear}} <br>
                    <strong>Website</strong> : {{ row.company.website}} <br>
                    <strong>Facebook page</strong>:{{ row.company.facebook}} <br></td>
                  <td><strong>Smart City Technology Areas</strong> : {{ row.company.smartCityTechArea}}
                    <td class="center"><strong>Status</strong> : {{ row.company.hasMscStatus}} <br>
                      <strong>Date of MSC Status Approval</strong> : {{ row.company.mscApprovedDate}} <br>
                      <strong>Core Activities</strong> : {{ row.company.coreActivities}}<br>
                      <strong>Registered Address</strong> : {{ row.company.address}}<br>
                      <strong>Telephone</strong> : {{ row.company.contact.telephone}}<br>
                      <strong>Fax</strong> : {{ row.company.contact.fax}}<br>
                      <strong>Phone</strong> : {{ row.company.contact.phone}} <br>
                      <td class="center"><strong>Space Selection - Rooms </strong> : {{ row.rentalOption.room}} <br>
                        <strong>Space Selection - Co-Working Space </strong> : {{ row.rentalOption.roomSpace}}</td>
                      <td class="center"><strong>payment receipts URL</strong> : {{ row.rentalOption.blobPayment}} <br>
                        <strong>Id or Passport URL </strong>: {{ row.company.blobIdentification}} <br>
                        <strong>Company registration documents URL</strong> : {{ row.company.blobRegistration}}<br></td>
                      <td class="center"> {{ row.timestamp}} </td>
                </tr>
                <!--<tr class="even gradeC">
                                    <td><strong>Full Name</strong> : Mac Jake Louhart <br>
                    <strong>Phone</strong> : 60124445423 <br>
                    <strong>Date</strong> : 11/22/2019 <br></td>
                  <td><strong>Company name</strong> : Campfyre sdn bhd <br>
                    <strong>GST Registration No.</strong> : 12345678A <br>
                    <strong>Year Establish</strong> : 2017 <br>
                    <strong>Website</strong> : campfyreapp.com <br>
                    <strong>Facebook page</strong>: N/A <br></td>
                  <td><strong>Smart City Technology Areas</strong> : 
                    Smart Economy <br>
                    Smart Social <br>
                    Smart Infrastructure <br>
                    Smart Enviroment </td>
                  <td class="center"><strong>Status</strong> : Yes <br>
                    <strong>Date of MSC Status Approval</strong> : 11/22/2019 <br>
                    <strong>Core Activities</strong> : Exports<br>
                    <strong>Registered Address</strong> : Block 3750 Persiaran APEC, Cyber 8, 63000 Cyberjaya, Selangor, Malaysia<br>
                    <strong>Telephone</strong> : 1234567890<br>
                    <strong>Fax</strong> : 1234567890<br>
                    <strong>Phone</strong> : 1234567890<br>
                    <strong>Correspondence Address</strong> : Block 3750 Persiaran APEC, Cyber 8, 63000 Cyberjaya, Selangor, Malaysia </td>
                  <td class="center"><strong>Space Selection - Rooms </strong> : n/a <br>
                    <strong>Space Selection - Co-Working Space </strong> : Co-Working Space | 2 Person | Cubicle – Open area | RM458 </td>
                  <td class="center"><strong>payment receipts URL</strong> : n/a <br>
                    <strong>Id or Passport UR</strong>L : http://campfyreapp.com/documents/<br>
                    <strong>Company registration documents URL</strong> : http://campfyreapp.com/documents/<br></td>
                  <td class="center"> 10/10/2019 10:00PM </td>
                </tr>
                <tr class="odd gradeA">
                                    <td><strong>Full Name</strong> : Mac Jake Louhart <br>
                    <strong>Phone</strong> : 60124445423 <br>
                    <strong>Date</strong> : 11/22/2019 <br></td>
                  <td><strong>Company name</strong> : Campfyre sdn bhd <br>
                    <strong>GST Registration No.</strong> : 12345678A <br>
                    <strong>Year Establish</strong> : 2017 <br>
                    <strong>Website</strong> : campfyreapp.com <br>
                    <strong>Facebook page</strong>: N/A <br></td>
                  <td><strong>Smart City Technology Areas</strong> : 
                    Smart Economy <br>
                    Smart Social <br>
                    Smart Infrastructure <br>
                    Smart Enviroment </td>
                  <td class="center"><strong>Status</strong> : Yes <br>
                    <strong>Date of MSC Status Approval</strong> : 11/22/2019 <br>
                    <strong>Core Activities</strong> : Exports<br>
                    <strong>Registered Address</strong> : Block 3750 Persiaran APEC, Cyber 8, 63000 Cyberjaya, Selangor, Malaysia<br>
                    <strong>Telephone</strong> : 1234567890<br>
                    <strong>Fax</strong> : 1234567890<br>
                    <strong>Phone</strong> : 1234567890<br>
                    <strong>Correspondence Address</strong> : Block 3750 Persiaran APEC, Cyber 8, 63000 Cyberjaya, Selangor, Malaysia </td>
                  <td class="center"><strong>Space Selection - Rooms </strong> : n/a <br>
                    <strong>Space Selection - Co-Working Space </strong> : Co-Working Space | 2 Person | Cubicle – Open area | RM458 </td>
                  <td class="center"><strong>payment receipts URL</strong> : n/a <br>
                    <strong>Id or Passport UR</strong>L : http://campfyreapp.com/documents/<br>
                    <strong>Company registration documents URL</strong> : http://campfyreapp.com/documents/<br></td>
                  <td class="center"> 10/10/2019 10:00PM </td>
                </tr>-->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->

</div>

<script type="text/javascript">
  $(document).ready(function () {
    //initialize the javascript
    App.init();
    App.dataTables();
  });

</script>