 
h4 {
	margin-top: 40px;
}
.be-wrapper {
	padding-top: 40px;
	background: #FFF;
} 
.logo {
	padding: 20px;
}
.be-top-header .navbar-header {
	margin-left: 140px;
}
.notes {
	margin-top: 80px;
}
.disabled {
	color: #999;
}