<div class="be-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top be-top-header">
    <div class="container-fluid">
      <div class="navbar-header logo" (click)="goHome()"><img width="100" src="http://54.179.172.199/assets/img/img-logo-tagline.png"></div>
    </div>
  </nav>
  <div class="container">
    <div class="panel-body">
      <form>
        <div class="row">
          <div class="col-md-12">
            <h4>Company Information</h4>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Company name</label>
              <input [(ngModel)]="modelRegister.company.name" name="name" type="text" placeholder="" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>GST Registration No. (Optional)</label>
              <input type="text" name="gstNo" [(ngModel)]="modelRegister.company.regNo" placeholder="" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Year Establish</label>
              <input type="text" name="year" [(ngModel)]="modelRegister.company.establishYear" placeholder="" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Website</label>
              <input type="text" name="web" [(ngModel)]="modelRegister.company.website" placeholder="" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Facebook page (if any)</label>
              <input type="text" name="fb" placeholder="" [(ngModel)]="modelRegister.company.facebook" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Date</label>
              <input type="text" name="companyDate" placeholder="dd/mm/yyyy" [(ngModel)]="modelRegister.company.date" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Business Type</label>
          </div>
          <br>
          <br>

          <!--[(ngModel)]="modelRegister.company.businessType"-->
          <div class="col-md-12">
            <div class="be-checkbox inline">
              <input (click)=" updateCheckbox('businessType', $event)"  id="sdnbhd" name="bizType" value="Sdn Bhd" type="checkbox">
              <label for="sdnbhd">Sdn Bhd</label>
            </div>
            <div class="be-checkbox inline">
              <input  (click)=" updateCheckbox('businessType', $event)"  id="bumi" name="bizType" value="Bumi " type="checkbox">
              <label for="bumi">Bumi</label>
            </div>
            <div class="be-checkbox inline">
              <input   (click)=" updateCheckbox('businessType', $event)"  id="nonbumi" name="bizType" value="Non Bumi" type="checkbox">
              <label for="nonbumi">Non Bumi</label>
            </div>
            <div class="be-checkbox inline">
              <input  (click)=" updateCheckbox('businessType', $event)"  id="sole" name="bizType" value="Sole Proprietor" type="checkbox">
              <label for="sole">Sole Proprietor</label>
            </div>
            <div class="be-checkbox inline">
              <input   (click)=" updateCheckbox('businessType', $event)"  id="partnership" type="checkbox" value="Partnership" name="bizType">
              <label for="partnership">Partnership</label>
            </div>
            <div class="be-checkbox inline">
              <input  (click)=" updateCheckbox('businessType', $event)"  id="foreignowned" type="checkbox" value="Foreign Owned" name="bizType">
              <label for="foreignowned">Foreign Owned</label>
            </div>
          </div>




        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-12">
            <label>Smart City Technology Areas</label>
          </div>
          <br>
          <br>
          <div class="col-md-12">
            <!--[(ngModel)]="modelRegister.company.smartCityTechArea"-->
            <div class="be-checkbox inline">
              <input id="check6" (click)=" updateCheckbox('smartCity', $event)"    value="Smart Economy" name="smartCity" type="checkbox">
              <label for="check6">Smart Economy</label>
            </div>
            <div class="be-checkbox inline">
              <input id="check7" (click)=" updateCheckbox('smartCity', $event)"   value="Smart Social" name="smartCity" type="checkbox">
              <label for="check7">Smart Social</label>
            </div>
            <div class="be-checkbox inline">
              <input value="Smart Infrastructure" (click)=" updateCheckbox('smartCity', $event)"    name="smartCity" id="check8" type="checkbox">
              <label for="check8">Smart Infrastructure</label>
            </div>
            <div class="be-checkbox inline">
              <input value="Smart Environment" (click)=" updateCheckbox('smartCity', $event)"   name="smartCity" id="check9" type="checkbox">
              <label for="check9">Smart Environment</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h4>MSC Malaysia Status</h4>
          </div>
          <div class="col-md-12">
            <div class="col-md-12">
              <div class="form-group">
                <div class="be-radio inline">
                  <input type="radio" checked="" id="rad6" name="hasMscStatus" value="true" [(ngModel)]="modelRegister.company.hasMscStatus">
                  <label for="rad6">Yes</label>
                </div>
                <div class="be-radio inline">
                  <input type="radio" checked="" name="hasMscStatus" value="false" [(ngModel)]="modelRegister.company.hasMscStatus" id="rad7">
                  <label for="rad7">No</label>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <div class="be-radio inline">
                  <input type="radio" name="mscStatusCategory" value="MSC Malaysia" [(ngModel)]="modelRegister.company.mscStatusCategory" id="rad8">
                  <label for="rad8">MSC Malaysia</label>
                </div>
                <div class="be-radio inline">
                  <input type="radio" name="mscStatusCategory" value="MSC for Startups" [(ngModel)]="modelRegister.company.mscStatusCategory"
                    id="rad9">
                    <label for="rad9">MSC for Startups</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Date of MSC Status Approval</label>
                  <input type="text" name="datemsc" placeholder="dd/mm/yyyy" [(ngModel)]="modelRegister.company.mscApprovedDate" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Core Activities</label>
                  <input type="text" name="actvitites" [(ngModel)]="modelRegister.company.coreActivities" placeholder="" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Registered Address</label>
                  <textarea class="form-control" name="address" [(ngModel)]="modelRegister.company.address"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Contact Person</label>
                  <input type="text" placeholder="" name="personName" [(ngModel)]="modelRegister.company.contact.personName" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" placeholder="" name="phone" [(ngModel)]="modelRegister.company.contact.phone" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Telephone</label>
                  <input type="text" placeholder="" name="Telephone" [(ngModel)]="modelRegister.company.contact.telphone" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Fax</label>
                  <input type="text" placeholder="" name="fax" [(ngModel)]="modelRegister.company.contact.fax" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Phone Secondary</label>
                  <input type="text" placeholder="" name="phone2" [(ngModel)]="modelRegister.company.contact.phone2" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Correspondence Address</label>
                  <textarea class="form-control" name="caddress" [(ngModel)]="modelRegister.company.contact.address"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Select Space</h4>
            <span class="panel-subtitle">fees are excluding GST</span> </div>
          <br>
          <div class="col-md-4">
            <div class="form-group">
              <label>Space Selection - Rooms</label>
              <br>
              <select name="rentalOption" [(ngModel)]="modelRegister.rentalOption.room" class="form-control">
              <option>Select</option>
              <option name="rentalOption" value="Startup Room 1 | OMW | 2 Pax | 1 table | 2 chairs | RM299">Startup Room 1 | OMW | 2 Pax | 1 table | 2 chairs | RM299</option>
              <option  name="rentalOption" value="Startup Room 2 | WFM | 2 Pax | 1 table | 2 chairs | RM299">Startup Room 2 | WFM | 2 Pax | 1 table | 2 chairs | RM299</option>
              <option name="rentalOption"  value="Startup Room 3 | FTW | 2 Pax | 1 table | 2 chairs | RM299">Startup Room 3 | FTW | 2 Pax | 1 table | 2 chairs | RM299</option>
              <option  name="rentalOption" value="Startup Room 4 | WTG | 4-6 Pax | 4 tables, 4 chairs, split aircond | RM1200">Startup Room 4 | WTG | 4-6 Pax | 4 tables, 4 chairs, split aircond | RM1200</option>
              <option  name="rentalOption" value="Boardroom | FYA	30	10 Pax backbench, 10 seats, projector | RM50 per">Boardroom | FYA	30	10 Pax backbench, 10 seats, projector | RM50 per hour </option>
              <option  name="rentalOption" value="Meeting Room | CFA | 10 Pax | 10 seats, projector | RM40 per ">Meeting Room | CFA | 10 Pax | 10 seats, projector | RM40 per hour </option>
              <option  name="rentalOption" value="Training Lab | FAQ | 20 Pax | 20 seats, projector, 20PCs | RM100/RM640 per day">Training Lab | FAQ | 20 Pax | 20 seats, projector, 20PCs | RM100/RM640 per day </option>
            </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Space Selection - Co-Working Space</label>
              <br>
              <select name="roomSpace" [(ngModel)]="modelRegister.rentalOption.roomSpace" class="form-control">
              <option>Select</option>
              <option  name="rentalOption" value="Co-Working Space | 1 Person | Cubicle – Open area | RM229" >Co-Working Space | 1 Person | Cubicle – Open area | RM229</option>
              <option name="rentalOption"  value="Co-Working Space | 2 Person | Cubicle – Open area | RM458">Co-Working Space | 2 Person | Cubicle – Open area | RM458</option>
              <option name="rentalOption"  value="Co-Working Space | 3 Person | Cubicle – Open area | RM687">Co-Working Space | 3 Person | Cubicle – Open area | RM687</option>
              <option  name="rentalOption" value="Co-Working Space | 4 Person | Cubicle – Open area | RM916">Co-Working Space | 4 Person | Cubicle – Open area | RM916</option>
              <option  name="rentalOption" value="Co-Working Space | 5 Person | Cubicle – Open area | RM1,145">Co-Working Space | 5 Person | Cubicle – Open area | RM1,145</option>
              <option  name="rentalOption" value="Co-Working Space | 6 Person | Cubicle – Open area | RM1,374">Co-Working Space | 6 Person | Cubicle – Open area | RM1,374</option>
              <option name="rentalOption"  value="Co-Working Space | 7 Person | Cubicle – Open area | RM1,603">Co-Working Space | 7 Person | Cubicle – Open area | RM1,603</option>
              <option  name="rentalOption" value="Co-Working Space | 8 Person | Cubicle – Open area | RM1,832">Co-Working Space | 8 Person | Cubicle – Open area | RM1,832</option>
            </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Supporting Documents</h4>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Company profile Url </label>
              <br>
              <input name="blobRegistration" [(ngModel)]="modelRegister.company.blobRegistration" type="text" placeholder="" class="form-control">

              <!--<input type="file" name="file-1" id="file-1" data-multiple-caption="{count} files selected" multiple class="inputfile">-->
              <!--<label for="file-1" class="btn-default"> <i class="mdi mdi-upload"></i><span>Browse files... </span></label>-->
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Id or Passport URL</label>
              <br>
              <input name="blobProfile" [(ngModel)]="modelRegister.company.blobProfile" type="text" placeholder="" class="form-control">

              <!--<input type="file" name="file-1" id="file-1" data-multiple-caption="{count} files selected" multiple class="inputfile">-->
              <!--<label for="file-1" class="btn-default"> <i class="mdi mdi-upload"></i><span>Browse files... </span></label>-->
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Company registration documents URL</label>
              <br>

              <input name="blobIdentification" [(ngModel)]="modelRegister.company.contact.blobIdentification" type="text" placeholder=""
                class="form-control">

                <!--<input type="file" name="file-1" id="file-1" data-multiple-caption="{count} files selected" multiple class="inputfile">-->
                <!--<label for="file-1" class="btn-default"> <i class="mdi mdi-upload"></i><span>Browse files... </span></label>-->
            </div>
          </div>
        </div>
      </form>
      <div class="col-md-12 footer-btn">
        <p class="text-right">
          <button type="submit" (click)="addRecord()" class="btn btn-space btn-primary btn-lg">Apply</button>
        </p>
      </div>
      <div class="notes">
        <p><strong>Terms & Conditions:</strong> <br> 1. Cyberview Sdn Bhd reserves the right to request supporting documentation
          from applicants for verification purposes, if necessary.<br> 2. Applicants found to have submitted false or misleading
          information would not be considered.<br> 3. CoInnov8 shall be used solely and exclusively for the Tenant's business
          as declared above.<br> 4. For applicants that would like to rent the space for the duration of 1-3 months, the
          applicants are required to pay an advance of 2 months rent for security deposit and 1 month worth of rent. <br>          5. For applicants that would like to rent the space for the duration up to 6 months, the applicants are required
          to pay an advance of 2 months rent for security deposit and 2 months worth of rent. </p>
        <br>
        <br>
        <p class="disabled"><strong>Cyberview Sdn. Bhd. (405553-T)</strong> | Block 3750 Persiaran APEC, Cyber 8, 63000 Cyberjaya, Selangor,
          Malaysia | Website : cyberview.com.my | Tel : +603-8315 6111 | Fax: +603-8315 6110</p>
      </div>
    </div>
  </div>
  <!-- /.container -->

</div>